{% extends "timetable/layout/basic.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="split left">
  <div class="centered">
    <img src="/static/timetable/12.jpg" alt="Avatar woman">
  </div>
</div>

<div class="split right">
  <div class="centered">
    <form method="post" style="text-align: right">
      {% csrf_token %}
      <table style="text-align: center!important; align-items: center!important;">
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Войти"></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<style>
    .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #fdfcfc;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #fdfcfc;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
}
</style>
  

{% endblock %}