
{% extends "timetable/layout/basic.html" %}

{% block title %}IP настройка{% endblock %}

{% block content %}
<body class="sinaps">
    <br><br><br>

  <form id="first_form" method="post" action="" name="input_table" style="background: transparent">
    {% csrf_token %}
      <div class="form-check" style="text-align: center">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="lan" style="position: relative!important;">
          <label class="form-check-label" for="exampleRadios2" style="font-size: large">
            LAN порт
          </label>
      </div>
      <div class="form-check" style="text-align: center">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="wan" checked style="position: relative!important;">
          <label class="form-check-label" for="exampleRadios1" style="font-size:large">
            WAN порт
          </label>
      </div>

    <table class="table">
	  <tbody>
        <tr><td align="right"><label style="border: none" >ip:</label></td>
          <td><input type="text" id="ip" name="ip"  class="form-control" data-inputmask="'alias': 'ip'"/></td>
          <td><span id="ip_label"></span></td>
        </tr>
        <tr>
          <td align="right"><label for="mask" style="border: none" >Маска:</label></td>
          <td><input type="text" id="mask" name="mask" placeholder="255.255.255." class="form-control" data-inputmask="'alias': 'ip'"/></td>
          <td><span id="mask_label"></span></td>
        </tr>
        <tr>
          <td align="right"><label for="gateway" style="border: none" >Шлюз:</label></td>
          <td><input type="text" id="gateway" name="gateway" class="form-control" data-inputmask="'alias': 'ip'"/></td>
          <td><span id="gateway_label"></span></td>
        </tr>
        <tr><td></td></tr><tr><td></td></tr>
        <tr><td></td>
          <td style="text-align: center"><button type="submit" class="color_button_timetable" name="ip_change">
             Применить</button></td>
          <td></td>
        </tr>
        <tr><td></td></tr><tr><td></td></tr>
	  </tbody>
    </table>
  </form>

<h4 style="text-align: center">Текущие настройки сети на плате:</h4>
<br>

    <div class="block" >
    <h4 style="text-align: center">WAN-port <br>Модуль управления</h4>
    <table class="table">
	  <tbody>
        <tr>
            <td align="right"><label style="border: none" >ip:</label></td>
            <td>{{ip}}</td>
        </tr>
        <tr>
            <td align="right"><label style="border: none" >Маска:</label></td>
            <td>{{mask}}</td>
        </tr>
        <tr>
            <td align="right"><label style="border: none" >Шлюз:</label></td>
            <td>{{gateway}}</td>
        </tr>
	  </tbody>
    </table>
    </div>
    <div class="block">
<h4 style="text-align: center">LAN-port <br>ТОИ</h4>
<table class="table">
	  <tbody>
        <tr>
            <td align="right"><label style="border: none" >ip:</label></td>
            <td>{{ip_lan}}</td>
        </tr>
        <tr>
            <td align="right"><label style="border: none" >Маска:</label></td>
            <td>{{mask_lan}}</td>
        </tr>
        <tr>
            <td align="right"><label style="border: none" >Шлюз:</label></td>
            <td>{{gateway_lan}}</td>
        </tr>
	  </tbody>
    </table>
    </div>

<style>
    .block {
  height: auto;
  width: 49%;
  display: inline-block;

  }
  .error {
    color: red;
  }

  .form-group label {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #1b6d85;
  }
  .form-control {
    width: 10em;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  .table {
	width: 40rem;
	/*margin-bottom: 20px;*/
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /*outline: 2px solid #cd5478;  !* outline можно задавать только для четырёх сторон одновременно *!*/
    outline-offset: 2rem;
  }
  .table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
  }
  .table td {
    border: 0;
    width: 33%;
	padding: 5px;
    display: table-cell;
    vertical-align: middle;
  }
  .table td label{
    width: 33%;
	/*border: 1px solid #dddddd;*/
	padding: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    right: 0;
    margin-left: auto;
  }
</style>

<script>
  $(document).ready(function() {


  $('#first_form').submit(function(e) {
    let valid = true;
    let ip = document.forms["first_form"]["ip"].value;
    let mask = document.forms["first_form"]["mask"].value;
    let gateway = document.forms["first_form"]["gateway"].value;
      console.log(ip);
      console.log($(".error"));
    $(".error").remove();
    let maskArr = ['255.255.255.255', '255.255.255.254', '255.255.255.252', '255.255.255.248', '255.255.255.240',
    '255.255.255.224', '255.255.255.192', '255.255.255.128', '255.255.255.0'];
      console.log(mask, 'tut');
    if (ip == '') {
      $('#ip_label').after('<span class="error ">Введите ip</span>');
      valid = false;
    }
    console.log(ip)
    if (mask == '') {
      $('#mask_label').after('<span class="error ">Введите маску</span>');
      valid = false;
    }
    if (gateway == '') {
      $('#gateway_label').after('<span class="error ">Введите шлюз</span>');
      valid = false;
    }
    if (maskArr.indexOf(mask) == -1) {
        console.log('wrong mask')
        alert("Неверная маска!!! \n Допустимые маски: \n 255.255.255.255,  255.255.255.254,  255.255.255.252 \n " +
            "255.255.255.248,  255.255.255.240,  255.255.255.224\n 255.255.255.192,  255.255.255.128,  255.255.255.0" );
        valid = false;
    }
    if( false == valid ) {
		e.preventDefault();
        console.log('falssss')// предотвращаем отправку формы, если есть ошибки валидации
	}
    else {
        console.log('tut')
    }
  });

});
  $(document).ready(function(){
  $(":input").inputmask();
});
</script>
</body>



{% endblock %}
