{% extends "timetable/layout/basic.html" %}
{% block title %}Мониторинг{% endblock %}
{% block content %}
{% load static %}
<body class="sinaps">
  <script src="/static/timetable/bootstrap.bundle.min.js"></script>
  <script src="/static/timetable/htmx.min.js"></script>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>

  <div class="split left">
    <div class="centered">
      <img src="/static/timetable/monitor-removebg-preview-min.png" alt="Avatar woman">
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <h1>Управление мониторингом</h1><br><br><br>
      <h4>Если необходимо задать конфигурацию ТОИ:</h4>
        <form action="{% url 'table_config'%}">
          <button class="color_button_timetable" >конфигурация</button>
        </form><br>
      <h4>Текущее количество кабинетов: {{count_cabs}}</h4>
        {% for button in buttons %}
          <button hx-post="?id={{ button.id }}" hx-target=".modal-body" class="color_button_timetable">Запустить расчёт</button>
        {% endfor %}
    </div>
  </div>

  <!--Modal window for monitoring-->
  <div class="fixed-overlay fixed-overlay__modal">
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="min-width: 80vw; min-height: 80vh; text-align: center;">
        <div class="modal-content modal-content-custom" >
          <script src="{% static './celery_progress/celery_progress.js' %}"></script>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .split {
      height: 80%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 60px;
      overflow-x: hidden;
      padding-top: 60px;
    }
    .left {
      left: 0;
      background: transparent;
    }
    .right {
      right: 0;
      background: transparent;
    }
    .listArea {
      text-align: center;
      align-items: center;
      margin: 0 auto;
      /*width: 900px;*/
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>

  <script>
    new bootstrap.Modal(document.getElementById('myModal'), {keyboard: false})
  </script>
</body>
{% endblock %}


