

header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: url("1.jpg") left / auto 100% no-repeat;
}

nav {
    font-size: 16pt;
    width: 100px;
    float: left;
}

section {
    margin-left: 200px;
}
